# Pandas Problem Set

In [2]:
import pandas as pd
# from google.colab import files
import numpy as np
import matplotlib.pyplot as plt

### Dataset for tutorial and problem set:

    Pima Indian Heritage Diabetes

    Each person in the dataset is a female who is at least 21 years old
    
  #### Below are the variables for each person in the dataset
      'preg': number of pregnancies  
      'plas': plasma glucose concentration 
      'pres': blood pressure 
      'skin': skin thickness
      'test': Insulin
      'mass': BMI
      'pedi': diabetes pedigree function
      'age': age
      'class': '0' means does not have diabetes and '1' means has diabetes

In [3]:
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [4]:
# your code here
data = pd.read_csv(url, names=names)
data.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

Print out the age and class of the 100th patient

In [5]:
# your code here
data.iloc[100,7: ]

age      33.0
class     1.0
Name: 100, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 1

In [6]:
# your code here
data_class1 = data['class']==1
nondiabetic_count = 0
for i in data_class1:
    if i:
        nondiabetic_count=nondiabetic_count+1
nondiabetic_count

268

Write code to figure out how many people are classified as having diabetes, class is 0

In [7]:
# your code here
data_class0 = data['class']==0
diabetic_count = data.shape[0]-nondiabetic_count
diabetic_count

500

What percent of people have diabetes in the study?

In [8]:
# your code here
100*diabetic_count/data.shape[0]

65.10416666666667

Print out the pressure and class (no other columns) for the first 5 people

hint: this was not shown in our tutorial. Google how to select multiple columns with loc

Being able to effectively google is a very important coding tool

In [9]:
# your code here
data.loc[:5,['pres','class']]

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1
5    74      0

Run the cell below, it will print out the correlation among the columns

In [10]:
data.corr()

,preg,plas,pres,skin,test,mass,pedi,age,class
preg,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
plas,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
pres,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
skin,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
test,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
mass,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
pedi,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
class,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

What column has the highest correlation with class? Find the mean() value of that column

In [11]:
# your code here
plas_mean = data.loc[:,'plas'].mean()

Create a new dataframe with only people that are above the mean found above

In [12]:
# your code here
plas_above_mean = data.loc[data.plas>plas_mean]

What percent of this new dataframe has diabetes?

In [13]:
# your code here
plas_above_mean_diabetic = plas_above_mean.loc[data['class']==1]
plas_above_mean_diabetic.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
2     8   183    64     0     0  23.3  0.672   32      1
4     0   137    40    35   168  43.1  2.288   33      1
8     2   197    70    45   543  30.5  0.158   53      1
9     8   125    96     0     0   0.0  0.232   54      1

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [14]:
# write code here
preg_mean = data.loc[:,'preg'].mean()
pres_mean = data.loc[:,'pres'].mean()
skin_mean = data.loc[:,'skin'].mean()
test_mean = data.loc[:,'test'].mean()
mass_mean = data.loc[:,'mass'].mean()
pedi_mean = data.loc[:,'pedi'].mean()
age_mean = data.loc[:,'age'].mean()

all_above_mean = data.loc[data.plas>plas_mean]
all_above_mean = all_above_mean.loc[data.pres>pres_mean]
all_above_mean = all_above_mean.loc[data.preg>preg_mean]
all_above_mean = all_above_mean.loc[data.skin>skin_mean]
all_above_mean = all_above_mean.loc[data.test>test_mean]
all_above_mean = all_above_mean.loc[data.mass>mass_mean]
all_above_mean = all_above_mean.loc[data.pedi>pedi_mean]
all_above_mean = all_above_mean.loc[data.age>age_mean]
all_above_mean

19

Using what you have learned (and google!) explore the data. Discuss what you find with people around you or the instructors

In [0]:
# write code here